<a href="https://colab.research.google.com/github/josemc15/streamlitappheroku/blob/main/Deploying_Machine_Learning_model_using_Streamlit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Data Collection and Analysis

In [2]:
Employee_data = pd.read_excel('/content/features of vproject (1) (1).xlsx')

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
Employee_data.head()

,EMP_ID,Emp Name,Age,Gender,Scope of Work,Skill of employee,Experience(Years),Heart Beat(BPM),Temperature,RFID Tag,...,Working Hours,Remaining Working Hours,Bp per Minute,Daily wages,IoT devices,MOTION INDICATION,Noise Detection,Infrared Sensor,Gas Sensor,Productivity
0,1001.0,Suresh,29.0,Male,Craftsman,Skilled,8.0,90.0,94.91,RFID-6305735,...,32.0,2418,79.0,900.0,Safety HElmet,Motion detection sensor,Yes,No,No,excellent
1,1002.0,vino,32.0,Male,Craftsman,Un-Skilled,9.0,98.0,89.23,RFID-0896539,...,49.0,2401,78.0,900.0,Safety HElmet,Motion detection sensor,Yes,No,No,excellent
2,1003.0,kamaraj,35.0,Male,Craftsman,Skilled,12.0,79.0,85.63,RFID-5689011,...,21.0,2429,79.0,900.0,Safety HElmet,Motion detection sensor,No,No,Yes,good
3,1004.0,mani,38.0,Male,Welder,Skilled,13.0,90.0,100.42,RFID-9794849,...,32.0,2418,98.0,800.0,Safety HElmet,Motion detection sensor,No,No,Yes,good
4,1005.0,Maxi Agate,28.0,Male,Welder,Skilled,6.0,89.0,103.82,RFID-9803536,...,19.0,2431,91.0,800.0,Safety HElmet,Motion detection sensor,No,No,No,bad

In [5]:
# number of rows and Columns in this dataset
Employee_data.shape

(354, 25)

In [6]:
Employee_data.head()

,EMP_ID,Emp Name,Age,Gender,Scope of Work,Skill of employee,Experience(Years),Heart Beat(BPM),Temperature,RFID Tag,...,Working Hours,Remaining Working Hours,Bp per Minute,Daily wages,IoT devices,MOTION INDICATION,Noise Detection,Infrared Sensor,Gas Sensor,Productivity
0,1001.0,Suresh,29.0,Male,Craftsman,Skilled,8.0,90.0,94.91,RFID-6305735,...,32.0,2418,79.0,900.0,Safety HElmet,Motion detection sensor,Yes,No,No,excellent
1,1002.0,vino,32.0,Male,Craftsman,Un-Skilled,9.0,98.0,89.23,RFID-0896539,...,49.0,2401,78.0,900.0,Safety HElmet,Motion detection sensor,Yes,No,No,excellent
2,1003.0,kamaraj,35.0,Male,Craftsman,Skilled,12.0,79.0,85.63,RFID-5689011,...,21.0,2429,79.0,900.0,Safety HElmet,Motion detection sensor,No,No,Yes,good
3,1004.0,mani,38.0,Male,Welder,Skilled,13.0,90.0,100.42,RFID-9794849,...,32.0,2418,98.0,800.0,Safety HElmet,Motion detection sensor,No,No,Yes,good
4,1005.0,Maxi Agate,28.0,Male,Welder,Skilled,6.0,89.0,103.82,RFID-9803536,...,19.0,2431,91.0,800.0,Safety HElmet,Motion detection sensor,No,No,No,bad

In [7]:
# getting the statistical measures of the data
Employee_data.describe()

,EMP_ID,Age,Experience(Years),Heart Beat(BPM),Temperature,Total Working Hours,Working Hours,Remaining Working Hours,Bp per Minute,Daily wages
count,354.000000,354.000000,354.000000,354.000000,354.000000,354.0,354.000000,354.000000,354.000000,354.000000
mean,1177.500000,32.655367,9.672316,104.841808,96.920169,2450.0,31.793785,2418.206215,211.299435,629.943503
std,102.335233,6.109009,5.751706,19.047067,11.096506,0.0,11.915418,11.915418,474.698116,117.367234
min,1001.000000,18.000000,1.000000,77.000000,80.000000,2450.0,12.000000,2398.000000,78.000000,500.000000
25%,1089.250000,28.000000,5.000000,89.000000,89.470000,2450.0,22.000000,2409.250000,91.000000,600.000000
50%,1177.500000,32.000000,9.000000,98.000000,96.190000,2450.0,31.000000,2419.000000,113.000000,600.000000
75%,1265.750000,36.000000,13.000000,122.000000,100.560000,2450.0,40.750000,2428.000000,128.000000,600.000000
max,1354.000000,48.000000,25.000000,153.000000,159.000000,2450.0,52.000000,2438.000000,2424.000000,900.000000

In [8]:
# getting some info about the data
Employee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354 entries, 0 to 353
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0    EMP_ID                  354 non-null    float64
 1    Emp Name                354 non-null    object
 2   Age                      354 non-null    float64
 3   Gender                   354 non-null    object
 4   Scope of Work            354 non-null    object
 5   Skill of employee        354 non-null    object
 6   Experience(Years)        354 non-null    float64
 7   Heart Beat(BPM)          354 non-null    float64
 8   Temperature              354 non-null    float64
 9   RFID Tag                 354 non-null    object
 10  Site                     354 non-null    object
 11  Time In                  354 non-null    object
 12  Time Out                 354 non-null    object
 13  Working Hours for Day    354 non-null    object
 14  Total Working Hours      354 non-null    float64
 15  Working Hours            354 non-null    float64
 16  Remaining Working Hours  354 non-null    int64
 17  Bp per Minute            354 non-null    float64
 18  Daily wages              354 non-null    float64
 19  IoT devices              354 non-null    object
 20  MOTION INDICATION        354 non-null    object
 21  Noise Detection          354 non-null    object
 22  Infrared Sensor          354 non-null    object
 23  Gas Sensor               354 non-null    object
 24  Productivity             354 non-null    object
dtypes: float64(9), int64(1), object(15)
memory usage: 69.3+ KB

In [9]:
Employee_data['Age'].value_counts()

35.0    46
30.0    36
38.0    26
28.0    23
32.0    23
45.0    21
29.0    20
24.0    20
36.0    19
34.0    17
25.0    16
26.0    13
39.0    11
40.0     9
37.0     9
27.0     7
31.0     6
23.0     6
33.0     5
20.0     4
42.0     4
43.0     4
44.0     2
22.0     2
19.0     2
48.0     1
41.0     1
18.0     1
Name: Age, dtype: int64

In [10]:
Employee_data['Productivity'].value_counts()

excellent     175
good          150
bad            29
Name: Productivity, dtype: int64

In [11]:
### Let's Check the skill of employee  present in this Dataset
Employee_data['Skill of employee'].value_counts()

Skilled         186
Semi-Skilled     65
Un-Skilled       53
Unskilled        50
Name: Skill of employee, dtype: int64

In [12]:
Employee_data.groupby('Productivity').mean()

,EMP_ID,Age,Experience(Years),Heart Beat(BPM),Temperature,Total Working Hours,Working Hours,Remaining Working Hours,Bp per Minute,Daily wages
Productivity,,,,,,,,,,
bad,1034.448276,36.344828,11.586207,102.344828,95.899310,2450.0,32.310345,2417.689655,107.241379,558.62069
excellent,1169.205714,32.137143,9.982857,105.931429,95.275543,2450.0,31.417143,2418.582857,110.051429,640.00000
good,1214.833333,32.546667,8.940000,104.053333,99.036267,2450.0,32.133333,2417.866667,349.540000,632.00000

In [13]:
# checking for missing values
Employee_data.isnull().sum()

 EMP_ID                    0
 Emp Name                  0
Age                        0
Gender                     0
Scope of Work              0
Skill of employee          0
Experience(Years)          0
Heart Beat(BPM)            0
Temperature                0
RFID Tag                   0
Site                       0
Time In                    0
Time Out                   0
Working Hours for Day      0
Total Working Hours        0
Working Hours              0
Remaining Working Hours    0
Bp per Minute              0
Daily wages                0
IoT devices                0
MOTION INDICATION          0
Noise Detection            0
Infrared Sensor            0
Gas Sensor                 0
Productivity               0
dtype: int64

#decision tree

In [14]:

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
for i in (1,2,6,7,9,14):
    Employee_data.iloc[:,i] = labelencoder.fit_transform(Employee_data.iloc[:,i])

In [15]:
Employee_data['Productivity'] = labelencoder.fit_transform(Employee_data['Productivity']) 
Employee_data['Skill of employee'] = labelencoder.fit_transform(Employee_data['Skill of employee'])
Employee_data['Scope of Work '] = labelencoder.fit_transform(Employee_data['Scope of Work '])
Employee_data['Noise Detection'] = labelencoder.fit_transform(Employee_data['Noise Detection'])
Employee_data['Infrared Sensor'] = labelencoder.fit_transform(Employee_data['Infrared Sensor'])
Employee_data['Gender'] = labelencoder.fit_transform(Employee_data['Gender'])
Employee_data['Gas Sensor'] = labelencoder.fit_transform(Employee_data['Gas Sensor'])
Employee_data['Daily wages'] = labelencoder.fit_transform(Employee_data['Daily wages'])
Employee_data[' EMP_ID'] = labelencoder.fit_transform(Employee_data[' EMP_ID'])
Employee_data['Total Working Hours'] = labelencoder.fit_transform(Employee_data['Total Working Hours'])
Employee_data['Site'] = labelencoder.fit_transform(Employee_data['Site'])

In [16]:
Employee_data.dtypes

 EMP_ID                      int64
 Emp Name                    int64
Age                          int64
Gender                       int64
Scope of Work                int64
Skill of employee            int64
Experience(Years)            int64
Heart Beat(BPM)              int64
Temperature                float64
RFID Tag                     int64
Site                         int64
Time In                     object
Time Out                    object
Working Hours for Day       object
Total Working Hours          int64
Working Hours              float64
Remaining Working Hours      int64
Bp per Minute              float64
Daily wages                  int64
IoT devices                 object
MOTION INDICATION           object
Noise Detection              int64
Infrared Sensor              int64
Gas Sensor                   int64
Productivity                 int64
dtype: object

In [17]:
### drop the columns 
Employee_data.drop(['RFID Tag','Time In','Time Out','MOTION INDICATION','IoT devices ',' Emp Name','Working Hours for Day'], axis = 1, inplace = True)

In [18]:
colnames = list(Employee_data.columns)
predictors = colnames[:17]
target = colnames[16]

In [19]:
# Splitting data into training and testing data set

from sklearn.model_selection import train_test_split
train, test = train_test_split(Employee_data, test_size = 0.3)

In [20]:

from sklearn.tree import DecisionTreeClassifier as DT

In [21]:
help(DT)

Help on class DecisionTreeClassifier in module sklearn.tree._classes:

class DecisionTreeClassifier(sklearn.base.ClassifierMixin, BaseDecisionTree)
 |  DecisionTreeClassifier(*, criterion='gini', splitter='best', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=None, random_state=None, max_leaf_nodes=None, min_impurity_decrease=0.0, class_weight=None, ccp_alpha=0.0)
 |
 |  A decision tree classifier.
 |
 |  Read more in the :ref:`User Guide <tree>`.
 |
 |  Parameters
 |  ----------
 |  criterion : {"gini", "entropy"}, default="gini"
 |      The function to measure the quality of a split. Supported criteria are
 |      "gini" for the Gini impurity and "entropy" for the information gain.
 |
 |  splitter : {"best", "random"}, default="best"
 |      The strategy used to choose the split at each node. Supported
 |      strategies are "best" to choose the best split and "random" to choose
 |      the best random split.
 |
 |  max_depth : int, default=None
 |      The maximum depth of the tree. If None, then nodes are expanded until
 |      all leaves are pure or until all leaves contain less than
 |      min_samples_split samples.
 |
 |  min_samples_split : int or float, default=2
 |      The minimum number of samples required to split an internal node:
 |
 |      - If int, then consider `min_samples_split` as the minimum number.
 |      - If float, then `min_samples_split` is a fraction and
 |        `ceil(min_samples_split * n_samples)` are the minimum
 |        number of samples for each split.
 |
 |      .. versionchanged:: 0.18
 |         Added float values for fractions.
 |
 |  min_samples_leaf : int or float, default=1
 |      The minimum number of samples required to be at a leaf node.
 |      A split point at any depth will only be considered if it leaves at
 |      least ``min_samples_leaf`` training samples in each of the left and
 |      right branches.  This may have the effect of smoothing the model,
 |      especially in regression.
 |
 |      - If int, then consider `min_samples_leaf` as the minimum number.
 |      - If float, then `min_samples_leaf` is a fraction and
 |        `ceil(min_samples_leaf * n_samples)` are the minimum
 |        number of samples for each node.
 |
 |      .. versionchanged:: 0.18
 |         Added float values for fractions.
 |
 |  min_weight_fraction_leaf : float, default=0.0
 |      The minimum weighted fraction of the sum total of weights (of all
 |      the input samples) required to be at a leaf node. Samples have
 |      equal weight when sample_weight is not provided.
 |
 |  max_features : int, float or {"auto", "sqrt", "log2"}, default=None
 |      The number of features to consider when looking for the best split:
 |
 |          - If int, then consider `max_features` features at each split.
 |          - If float, then `max_features` is a fraction and
 |            `int(max_features * n_features)` features are considered at each
 |            split.
 |          - If "auto", then `max_features=sqrt(n_features)`.
 |          - If "sqrt", then `max_features=sqrt(n_features)`.
 |          - If "log2", then `max_features=log2(n_features)`.
 |          - If None, then `max_features=n_features`.
 |
 |      Note: the search for a split does not stop until at least one
 |      valid partition of the node samples is found, even if it requires to
 |      effectively inspect more than ``max_features`` features.
 |
 |  random_state : int, RandomState instance or None, default=None
 |      Controls the randomness of the estimator. The features are always
 |      randomly permuted at each split, even if ``splitter`` is set to
 |      ``"best"``. When ``max_features < n_features``, the algorithm will
 |      select ``max_features`` at random at each split before finding the best
 |      split among them. But the best found split may vary across different
 |      runs, even if ``max_features=n_features``. That is the case, if the
 |      improvement of the criterion is identical for several splits and one
 |      split has to be selected at random. To obtain a deterministic behaviour
 |      during fitting, ``random_state`` has to be fixed to an integer.
 |      See :term:`Glossary <random_state>` for details.
 |
 |  max_leaf_nodes : int, default=None
 |      Grow a tree with ``max_leaf_nodes`` in best-first fashion.
 |      Best nodes are defined as relative reduction in impurity.
 |      If None then unlimited number of leaf nodes.
 |
 |  min_impurity_decrease : float, default=0.0
 |      A node will be split if this split induces a decrease of the impurity
 |      greater than or equal to this value.
 |
 |      The weighted impurity decrease equation is the following::
 |
 |          N_t / N * (impurity - N_t_R / N_t * right_impurity
 |                              - N_t_L / N_t * left_impurity)
 |
 |      where ``N`` is the total number of samples, ``N_t`` is the number of
 |      samples at the current node, ``N_t_L`` is the number of samples in the
 |      left child, and ``N_t_R`` is the number of samples in the right child.
 |
 |      ``N``, ``N_t``, ``N_t_R`` and ``N_t_L`` all refer to the weighted sum,
 |      if ``sample_weight`` is passed.
 |
 |      .. versionadded:: 0.19
 |
 |  class_weight : dict, list of dict or "balanced", default=None
 |      Weights associated with classes in the form ``{class_label: weight}``.
 |      If None, all classes are supposed to have weight one. For
 |      multi-output problems, a list of dicts can be provided in the same
 |      order as the columns of y.
 |
 |      Note that for multioutput (including multilabel) weights should be
 |      defined for each class of every column in its own dict. For example,
 |      for four-class multilabel classification weights should be
 |      [{0: 1, 1: 1}, {0: 1, 1: 5}, {0: 1, 1: 1}, {0: 1, 1: 1}] instead of
 |      [{1:1}, {2:5}, {3:1}, {4:1}].
 |
 |      The "balanced" mode uses the values of y to automatically adjust
 |      weights inversely proportional to class frequencies in the input data
 |      as ``n_samples / (n_classes * np.bincount(y))``
 |
 |      For multi-output, the weights of each column of y will be multiplied.
 |
 |      Note that these weights will be multiplied with sample_weight (passed
 |      through the fit method) if sample_weight is specified.
 |
 |  ccp_alpha : non-negative float, default=0.0
 |      Complexity parameter used for Minimal Cost-Complexity Pruning. The
 |      subtree with the largest cost complexity that is smaller than
 |      ``ccp_alpha`` will be chosen. By default, no pruning is performed. See
 |      :ref:`minimal_cost_complexity_pruning` for details.
 |
 |      .. versionadded:: 0.22
 |
 |  Attributes
 |  ----------
 |  classes_ : ndarray of shape (n_classes,) or list of ndarray
 |      The classes labels (single output problem),
 |      or a list of arrays of class labels (multi-output problem).
 |
 |  feature_importances_ : ndarray of shape (n_features,)
 |      The impurity-based feature importances.
 |      The higher, the more important the feature.
 |      The importance of a feature is computed as the (normalized)
 |      total reduction of the criterion brought by that feature.  It is also
 |      known as the Gini importance [4]_.
 |
 |      Warning: impurity-based feature importances can be misleading for
 |      high cardinality features (many unique values). See
 |      :func:`sklearn.inspection.permutation_importance` as an alternative.
 |
 |  max_features_ : int
 |      The inferred value of max_features.
 |
 |  n_classes_ : int or list of int
 |      The number of classes (for single output problems),
 |      or a list containing the number of classes for each
 |      output (for multi-output problems).
 |
 |  n_features_ : int
 |      The number of features when ``fit`` is performed.
 |
 |      .. deprecated:: 1.0
 |         `n_features_` is deprecated in 1.0 and will be removed in
 |         1.2. Use `n_features_in_` instead.
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`.
 |
 |      .. versionadded:: 0.24
 |
 |  feature_names_in_ : ndarray of shape (`n_features_in_`,)
 |      Names of features seen during :term:`fit`. Defined only when `X`
 |      has feature names that are all strings.
 |
 |      .. versionadded:: 1.0
 |
 |  n_outputs_ : int
 |      The number of outputs when ``fit`` is performed.
 |
 |  tree_ : Tree instance
 |      The underlying Tree object. Please refer to
 |      ``help(sklearn.tree._tree.Tree)`` for attributes of Tree object and
 |      :ref:`sphx_glr_auto_examples_tree_plot_unveil_tree_structure.py`
 |      for basic usage of these attributes.
 |
 |  See Also
 |  --------
 |  DecisionTreeRegressor : A decision tree regressor.
 |
 |  Notes
 |  -----
 |  The default values for the parameters controlling the size of the trees
 |  (e.g. ``max_depth``, ``min_samples_leaf``, etc.) lead to fully grown and
 |  unpruned trees which can potentially be very large on some data sets. To
 |  reduce memory consumption, the complexity and size of the trees should be
 |  controlled by setting those parameter values.
 |
 |  The :meth:`predict` method operates using the :func:`numpy.argmax`
 |  function on the outputs of :meth:`predict_proba`. This means that in
 |  case the highest predicted probabilities are tied, the classifier will
 |  predict the tied class with the lowest index in :term:`classes_`.
 |
 |  References
 |  ----------
 |
 |  .. [1] https://en.wikipedia.org/wiki/Decision_tree_learning
 |
 |  .. [2] L. Breiman, J. Friedman, R. Olshen, and C. Stone, "Classification
 |         and Regression Trees", Wadsworth, Belmont, CA, 1984.
 |
 |  .. [3] T. Hastie, R. Tibshirani and J. Friedman. "Elements of Statistical
 |         Learning", Springer, 2009.
 |
 |  .. [4] L. Breiman, and A. Cutler, "Random Forests",
 |         https://www.stat.berkeley.edu/~breiman/RandomForests/cc_home.htm
 |
 |  Examples
 |  --------
 |  >>> from sklearn.datasets import load_iris
 |  >>> from sklearn.model_selection import cross_val_score
 |  >>> from sklearn.tree import DecisionTreeClassifier
 |  >>> clf = DecisionTreeClassifier(random_state=0)
 |  >>> iris = load_iris()
 |  >>> cross_val_score(clf, iris.data, iris.target, cv=10)
 |  ...                             # doctest: +SKIP
 |  ...
 |  array([ 1.     ,  0.93...,  0.86...,  0.93...,  0.93...,
 |          0.93...,  0.93...,  1.     ,  0.93...,  1.      ])
 |
 |  Method resolution order:
 |      DecisionTreeClassifier
 |      sklearn.base.ClassifierMixin
 |      BaseDecisionTree
 |      sklearn.base.MultiOutputMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, criterion='gini', splitter='best', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=None, random_state=None, max_leaf_nodes=None, min_impurity_decrease=0.0, class_weight=None, ccp_alpha=0.0)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y, sample_weight=None, check_input=True, X_idx_sorted='deprecated')
 |      Build a decision tree classifier from the training set (X, y).
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The training input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csc_matrix``.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          The target values (class labels) as integers or strings.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights. If None, then samples are equally weighted. Splits
 |          that would create child nodes with net zero or negative weight are
 |          ignored while searching for a split in each node. Splits are also
 |          ignored if they would result in any single class carrying a
 |          negative weight in either child node.
 |
 |      check_input : bool, default=True
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      X_idx_sorted : deprecated, default="deprecated"
 |          This parameter is deprecated and has no effect.
 |          It will be removed in 1.1 (renaming of 0.26).
 |
 |          .. deprecated:: 0.24
 |
 |      Returns
 |      -------
 |      self : DecisionTreeClassifier
 |          Fitted estimator.
 |
 |  predict_log_proba(self, X)
 |      Predict class log-probabilities of the input samples X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      proba : ndarray of shape (n_samples, n_classes) or list of n_outputs             such arrays if n_outputs > 1
 |          The class log-probabilities of the input samples. The order of the
 |          classes corresponds to that in the attribute :term:`classes_`.
 |
 |  predict_proba(self, X, check_input=True)
 |      Predict class probabilities of the input samples X.
 |
 |      The predicted class probability is the fraction of samples of the same
 |      class in a leaf.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      check_input : bool, default=True
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      Returns
 |      -------
 |      proba : ndarray of shape (n_samples, n_classes) or list of n_outputs             such arrays if n_outputs > 1
 |          The class probabilities of the input samples. The order of the
 |          classes corresponds to that in the attribute :term:`classes_`.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties defined here:
 |
 |  n_features_
 |      DEPRECATED: The attribute `n_features_` is deprecated in 1.0 and will be removed in 1.2. Use `n_features_in_` instead.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.ClassifierMixin:
 |
 |  score(self, X, y, sample_weight=None)
 |      Return the mean accuracy on the given test data and labels.
 |
 |      In multi-label classification, this is the subset accuracy
 |      which is a harsh metric since you require for each sample that
 |      each label set be correctly predicted.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Test samples.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          True labels for `X`.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights.
 |
 |      Returns
 |      -------
 |      score : float
 |          Mean accuracy of ``self.predict(X)`` wrt. `y`.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.ClassifierMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseDecisionTree:
 |
 |  apply(self, X, check_input=True)
 |      Return the index of the leaf that each sample is predicted as.
 |
 |      .. versionadded:: 0.17
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      check_input : bool, default=True
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      Returns
 |      -------
 |      X_leaves : array-like of shape (n_samples,)
 |          For each datapoint x in X, return the index of the leaf x
 |          ends up in. Leaves are numbered within
 |          ``[0; self.tree_.node_count)``, possibly with gaps in the
 |          numbering.
 |
 |  cost_complexity_pruning_path(self, X, y, sample_weight=None)
 |      Compute the pruning path during Minimal Cost-Complexity Pruning.
 |
 |      See :ref:`minimal_cost_complexity_pruning` for details on the pruning
 |      process.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The training input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csc_matrix``.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          The target values (class labels) as integers or strings.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights. If None, then samples are equally weighted. Splits
 |          that would create child nodes with net zero or negative weight are
 |          ignored while searching for a split in each node. Splits are also
 |          ignored if they would result in any single class carrying a
 |          negative weight in either child node.
 |
 |      Returns
 |      -------
 |      ccp_path : :class:`~sklearn.utils.Bunch`
 |          Dictionary-like object, with the following attributes.
 |
 |          ccp_alphas : ndarray
 |              Effective alphas of subtree during pruning.
 |
 |          impurities : ndarray
 |              Sum of the impurities of the subtree leaves for the
 |              corresponding alpha value in ``ccp_alphas``.
 |
 |  decision_path(self, X, check_input=True)
 |      Return the decision path in the tree.
 |
 |      .. versionadded:: 0.18
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      check_input : bool, default=True
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      Returns
 |      -------
 |      indicator : sparse matrix of shape (n_samples, n_nodes)
 |          Return a node indicator CSR matrix where non zero elements
 |          indicates that the samples goes through the nodes.
 |
 |  get_depth(self)
 |      Return the depth of the decision tree.
 |
 |      The depth of a tree is the maximum distance between the root
 |      and any leaf.
 |
 |      Returns
 |      -------
 |      self.tree_.max_depth : int
 |          The maximum depth of the tree.
 |
 |  get_n_leaves(self)
 |      Return the number of leaves of the decision tree.
 |
 |      Returns
 |      -------
 |      self.tree_.n_leaves : int
 |          Number of leaves.
 |
 |  predict(self, X, check_input=True)
 |      Predict class or regression value for X.
 |
 |      For a classification model, the predicted class for each sample in X is
 |      returned. For a regression model, the predicted value based on X is
 |      returned.
 |
 |      Parameters
 |      ----------

In [22]:
model = DT(criterion = 'entropy')

In [23]:
model.fit(train[predictors], train[target])

DecisionTreeClassifier(criterion='entropy')

In [24]:
## Prediction on Test Data
preds = model. predict(test[predictors])
pd.crosstab(test[target], preds, rownames=['Actual'], colnames=['Predictions'])
np.mean(preds == test[target]) # Test Data Accuracy

1.0

In [25]:
# Prediction on Train Data
preds = model.predict(train[predictors])
pd.crosstab(train[target], preds, rownames = ['Actual'], colnames = ['Predictions'])
np.mean(preds == train[target])

1.0

######
# GridSearchCV

In [26]:

from sklearn. model_selection import GridSearchCV

In [27]:

model = DT(criterion = 'entropy')

In [28]:
param_grid = {'min_weight_fraction_leaf': [0.1,0.2,0.3,0.4],
              'max_depth': [2,4,6,8,10],
             'max_features': ['log2']}

In [29]:
grid_search = GridSearchCV(estimator = model, param_grid = param_grid,
                           scoring = 'accuracy', n_jobs = -1, cv = 5,
                           refit = True, return_train_score = True)

In [30]:
grid_search.fit(train[predictors], train[target])

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(criterion='entropy'),
             n_jobs=-1,
             param_grid={'max_depth': [2, 4, 6, 8, 10],
                         'max_features': ['log2'],
                         'min_weight_fraction_leaf': [0.1, 0.2, 0.3, 0.4]},
             return_train_score=True, scoring='accuracy')

In [31]:

grid_search.best_params_

{'max_depth': 10, 'max_features': 'log2', 'min_weight_fraction_leaf': 0.1}

In [32]:
cv_dt_clf_grid = grid_search.best_estimator_

In [33]:
from sklearn.metrics import accuracy_score, confusion_matrix

Model Evaluation

Accuracy Score

In [34]:
# Evaluation on Testing Data
confusion_matrix(test[target], cv_dt_clf_grid.predict(test[predictors]))
accuracy_score(test[target], cv_dt_clf_grid.predict(test[predictors]))

1.0

In [35]:
# Evaluation on Training Data
confusion_matrix(train[target], cv_dt_clf_grid.predict(train[predictors]))
accuracy_score(train[target], cv_dt_clf_grid.predict(train[predictors]))

1.0

In [36]:
##RMSE value

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeClassifier
import time

In [37]:
#create the Regressor
Employee_data.corr()

,EMP_ID,Age,Gender,Scope of Work,Skill of employee,Experience(Years),Heart Beat(BPM),Temperature,Site,Total Working Hours,Working Hours,Remaining Working Hours,Bp per Minute,Daily wages,Noise Detection,Infrared Sensor,Gas Sensor,Productivity
EMP_ID,1.000000,-0.296191,-0.042930,-0.026517,0.310732,-0.160499,-0.011243,-0.022325,0.007130,NaN,0.020297,-0.020297,0.359806,0.010553,-0.008130,-0.001881,-0.034191,0.432166
Age,-0.296191,1.000000,-0.026182,0.085985,-0.104688,0.331082,-0.007722,0.086240,0.034019,NaN,0.062749,-0.062749,-0.074991,-0.026791,0.013881,0.036301,-0.000119,-0.092177
Gender,-0.042930,-0.026182,1.000000,-0.129461,0.058588,-0.054683,-0.064891,0.009012,0.049088,NaN,-0.028653,0.028653,0.097554,0.204070,-0.035343,0.025545,-0.058714,0.154149
Scope of Work,-0.026517,0.085985,-0.129461,1.000000,-0.106473,0.060566,0.006925,0.050042,-0.048940,NaN,0.010212,-0.010212,0.110961,-0.195121,-0.128186,0.069195,0.048029,0.002184
Skill of employee,0.310732,-0.104688,0.058588,-0.106473,1.000000,-0.092043,-0.076117,0.052375,-0.038939,NaN,0.052732,-0.052732,0.119521,0.018889,0.020040,-0.041668,-0.058990,0.083813
Experience(Years),-0.160499,0.331082,-0.054683,0.060566,-0.092043,1.000000,-0.068889,-0.016118,-0.047441,NaN,0.075771,-0.075771,-0.142191,-0.087693,-0.109858,-0.027275,0.034943,-0.130421
Heart Beat(BPM),-0.011243,-0.007722,-0.064891,0.006925,-0.076117,-0.068889,1.000000,0.118353,0.006213,NaN,0.082694,-0.082694,-0.053035,-0.047320,0.039161,0.088331,0.017033,-0.005215
Temperature,-0.022325,0.086240,0.009012,0.050042,0.052375,-0.016118,0.118353,1.000000,0.111951,NaN,0.012317,-0.012317,-0.016521,0.033150,0.049742,-0.022172,0.037845,0.141875
Site,0.007130,0.034019,0.049088,-0.048940,-0.038939,-0.047441,0.006213,0.111951,1.000000,NaN,-0.070835,0.070835,-0.013911,0.068721,0.044578,0.047860,0.020600,0.031264
Total Working Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Working Hours,0.020297,0.062749,-0.028653,0.010212,0.052732,0.075771,0.082694,0.012317,-0.070835,NaN,1.000000,-1.000000,-0.014853,-0.023499,-0.006902,-0.052773,-0.114976,0.013688
Remaining Working Hours,-0.020297,-0.062749,0.028653,-0.010212,-0.052732,-0.075771,-0.082694,-0.012317,0.070835,NaN,-1.000000,1.000000,0.014853,0.023499,0.006902,0.052773,0.114976,-0.013688
Bp per Minute,0.359806,-0.074991,0.097554,0.110961,0.119521,-0.142191,-0.053035,-0.016521,-0.013911,NaN,-0.014853,0.014853,1.000000,-0.038195,0.002724,-0.062360,-0.063747,0.227014
Daily wages,0.010553,-0.026791,0.204070,-0.195121,0.018889,-0.087693,-0.047320,0.033150,0.068721,NaN,-0.023499,0.023499,-0.038195,1.000000,0.031557,-0.033267,-0.193499,0.147560
Noise Detection,-0.008130,0.013881,-0.035343,-0.128186,0.020040,-0.109858,0.039161,0.049742,0.044578,NaN,-0.006902,0.006902,0.002724,0.031557,1.000000,0.052026,0.009097,-0.061554
Infrared Sensor,-0.001881,0.036301,0.025545,0.069195,-0.041668,-0.027275,0.088331,-0.022172,0.047860,NaN,-0.052773,0.052773,-0.062360,-0.033267,0.052026,1.000000,0.071203,0.010041
Gas Sensor,-0.034191,-0.000119,-0.058714,0.048029,-0.058990,0.034943,0.017033,0.037845,0.020600,NaN,-0.114976,0.114976,-0.063747,-0.193499,0.009097,0.071203,1.000000,-0.024674
Productivity,0.432166,-0.092177,0.154149,0.002184,0.083813,-0.130421,-0.005215,0.141875,0.031264,NaN,0.013688,-0.013688,0.227014,0.147560,-0.061554,0.010041,-0.024674,1.000000

In [38]:
#select  working Hours as target variable:
y = Employee_data['Productivity']

In [39]:
x = Employee_data.drop([' EMP_ID','Productivity'],axis=1)

In [40]:
#now make the train-test splits
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=189)
print('Dimensions: \n x_train:{} \n x_test{} \n y_train{} \n y_test{}'.format(x_train.shape, x_test.shape, y_train.shape, y_test.shape))

Dimensions:
 x_train:(283, 16)
 x_test(71, 16)
 y_train(283,)
 y_test(71,)

In [41]:
#x_train and x_test are dataframes
x_train.head(2)

,Age,Gender,Scope of Work,Skill of employee,Experience(Years),Heart Beat(BPM),Temperature,Site,Total Working Hours,Working Hours,Remaining Working Hours,Bp per Minute,Daily wages,Noise Detection,Infrared Sensor,Gas Sensor
192,5,1,4,3,12,13,100.42,2,0,32.0,2418,98.0,2,0,0,1
215,11,1,8,1,17,32,104.10,1,0,52.0,2398,99.0,1,0,0,0

In [42]:
y_train.iloc[0:2]

192    1
215    1
Name: Productivity, dtype: int64

In [43]:
tree_reg = DecisionTreeRegressor(max_depth = 3, min_samples_split = 10)

In [44]:

start = time.time()
tree_reg.fit(x_train, y_train)
stop = time.time()

In [45]:
#predict the response for the test data
tree_reg_pred = tree_reg.predict(x_test)

In [46]:
#print the RMSE
print(f'Working Hours: {round((stop - start))} hours')
tree_reg_RMSE = np.sqrt(mean_squared_error(y_test, tree_reg_pred))
print(f'tree_reg_RMSE: {round(tree_reg_RMSE,3)}')

Working Hours: 0 hours
tree_reg_RMSE: 0.518


# RandomizedSearchCV

In [47]:

from sklearn.model_selection import RandomizedSearchCV
model = DT(criterion = 'entropy')
param_dist = {'min_samples_leaf': list(range(1, 1000)),
              'max_depth': list(range(2, 500)),
              'max_features': ['log2']}

In [48]:
n_iter = 50

model_random_search = RandomizedSearchCV(estimator = model,
                                         param_distributions = param_dist,
                                         n_iter = n_iter)

In [49]:
model_random_search. fit(train[predictors], train[target])
model_random_search. best_params_

{'min_samples_leaf': 12, 'max_features': 'log2', 'max_depth': 321}

In [50]:
dT_random = model_random_search.best_estimator_

In [51]:
#prediciton on test data 
pred_random = dT_random.predict(test[predictors])
pd.crosstab(test[target], pred_random, rownames=['Actual'], colnames=['Predictions'])

Predictions   0   1
Actual
0            51   0
1            18  38

In [52]:
np.mean(pred_random == test[target])

0.8317757009345794

In [53]:
#predicition on train data 
pred_random = dT_random.predict(train[predictors])
pd.crosstab(train[target], pred_random, rownames = ['Actual'], colnames = ['Predictions'])

Predictions    0   1
Actual
0            140   0
1             23  84

In [54]:
np.mean(pred_random == train[target])

0.9068825910931174


##KNN

In [55]:

desc = Employee_data.describe()

Employee_data_new = Employee_data[np.isfinite(Employee_data).all(1)]

In [56]:
X = np.array(Employee_data_new.iloc[:,:]) # Predictors

In [57]:
Y = np.array(Employee_data['Productivity']) # Target

In [58]:

from sklearn.model_selection import train_test_split

In [59]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [60]:
# Imbalance check
Employee_data.Productivity.value_counts()

1    175
2    150
0     29
Name: Productivity, dtype: int64

In [61]:
ytrain = pd.DataFrame(Y_train)
ytest = pd.DataFrame(Y_test)

In [62]:

ytrain.value_counts()
ytest.value_counts()

1    35
2    31
0     5
dtype: int64

In [63]:
from sklearn.neighbors import KNeighborsClassifier

In [64]:

knn = KNeighborsClassifier(n_neighbors = 21)
knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=21)

In [65]:
pred = knn.predict(X_test)
pred

array([0, 1, 2, 1, 1, 2, 2, 2, 1, 2, 0, 1, 1, 2, 1, 2, 2, 1, 2, 2, 1, 1,
       1, 1, 2, 1, 2, 1, 1, 0, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       2, 1, 1, 2, 1, 0, 0, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 2, 1, 1, 1, 2,
       2, 1, 2, 1, 0])

In [66]:

# Evaluate the model
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, pred))

0.7605633802816901

In [67]:
pd.crosstab(Y_test, pred, rownames = ['Actual'], colnames= ['Predictions'])

Predictions  0   1   2
Actual
0            5   0   0
1            2  29   4
2            0  11  20

In [68]:
pred_train = knn.predict(X_train)
print(accuracy_score(Y_train, pred_train))

0.7915194346289752

In [69]:
pd.crosstab(Y_train, pred_train, rownames=['Actual'], colnames = ['Predictions'])

Predictions   0    1   2
Actual
0            23    1   0
1             8  116  16
2             5   29  85

In [70]:
acc = []
for i in range(1, 50, 2):
    neigh = KNeighborsClassifier(n_neighbors = i)
    neigh.fit(X_train, Y_train)
    train_acc = np.mean(neigh.predict(X_train) == Y_train)
    test_acc = np.mean(neigh.predict(X_test) == Y_test)
    acc.append([train_acc, test_acc])

### Ensemble techniques using boosting methods ######

In [71]:
drop_elements = ['Noise Detection','Heart Beat(BPM)','Temperature','Site','Bp per Minute','Working Hours','Total Working Hours','Remaining Working Hours','Infrared Sensor','Daily wages','Gas Sensor']

In [72]:
X = Employee_data.drop(drop_elements, axis=1)

In [73]:
y = Employee_data['Productivity']

In [74]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [75]:
from sklearn.ensemble import AdaBoostClassifier

In [76]:

ada_clf = AdaBoostClassifier(learning_rate = 0.02, n_estimators = 5000)

In [77]:
ada_clf.fit(X_train, y_train)

from sklearn.metrics import accuracy_score, confusion_matrix

In [78]:
# Evaluation on Testing Data
confusion_matrix(y_test, ada_clf.predict(X_test))
accuracy_score(y_test, ada_clf.predict(X_test))

1.0

In [79]:
# Evaluation on Training Data
accuracy_score(y_train, ada_clf.predict(X_train))

1.0

**SVM**

In [80]:
from sklearn import svm

In [81]:
train, test = train_test_split(Employee_data, test_size = 325)

In [82]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [83]:
print(X.shape, X_train.shape, X_test.shape)

(354, 7) (283, 7) (71, 7)

In [85]:
model.fit(X_train, Y_train)

DecisionTreeClassifier(criterion='entropy')

# accuracy score on the train data

In [96]:
X_train_prediction = model.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [97]:
print('Accuracy score of the train data : ', train_data_accuracy)

Accuracy score of the train data :  1.0

# accuracy score on the test data

In [91]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [92]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  1.0

importing test model

train

In [98]:
import pickle

In [99]:
filename = 'Employee_model.pkl'
pickle.dump(model, open(filename, 'wb'))

In [100]:
# loading the saved model
loaded_models = pickle.load(open('Employee_model.pkl', 'rb'))

In [101]:
for column in X.columns:
  print(column)

 EMP_ID
Age
Gender
Scope of Work
Skill of employee
Experience(Years)
Productivity